#edit_week_wrap
  = simple_form_for(@week) do |f|
    %h2#edit_week_date Week date
    = f.text_field(:week_date, maxlength: 100, autofocus: "true", id: 'edit_input')
    = f.hidden_field(:user, :value => current_user.username)
    #edit_button
      = submit_tag("Update Week", id: 'update_week')

  = link_to("Reset Days", {:action => 'reset_days', :id => @week.id}, :class => 'reset_days')
