= link_to("<< Back to week List", {:action => 'index'}, :class => 'back_button')
#week_wrap
  %h2 New Week
  = simple_form_for(@week) do |f|
    %h2#new_week_date Week date
    = f.text_field(:week_date, maxlength: 100, autofocus: "true")
    = f.hidden_field(:user, :value => current_user.username)
    #new_button
      = submit_tag("Update Week")

= link_to("Reset Days", {:action => 'reset_days', :id => @week.id}, :class => 'reset_days')
