#full_week_wrap
  %h1= 'Date: '+@week.week_date
  %p#user_week= 'User: '+@week.user

#monday_ipad
  = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
    = f.input :day, as: :string, input_html: {id: "form_day"}
    = f.input :recipe_name, as: :string, input_html: {id: "form_name"}
    = f.input :image, as: :string, input_html: {id: "form_image"}
    = f.button :submit, "Add Recipe", class: 'days_button'

#drop_boxes
  #drop_box_ipad click here to chose Monday recipe
  #drop_box_tuesday_ipad click here to chose Tuesday recipe
  #drop_box_wednesday_ipad click here to chose Wednesday recipe
  #drop_box_thursday_ipad click here to chose Thursday recipe
  #drop_box_friday_ipad click here to chose Friday recipe
  #drop_box_saturday_ipad click here to chose Saturday recipe
  #drop_box_sunday_ipad click here to chose Sunday recipe
#mostra Favorites
#hr
#vegetarian Vegetarian
#risultati_ipad
  - @favorites.each do |rec|
    .fav_recipe_wrap.ipad
      .fav_index_image.ipad
        = image_tag rec.image.to_s
      %p.fav_name.ipad= rec.recipe_name

#risultati_ipad2
  - @vegetarians.each do |veg|
    .fav_recipe_wrap.ipad
      .fav_index_image.ipad
        = image_tag veg.image.to_s
      %p.fav_name.ipad= veg.recipe_name
