- if !flash[:notice].blank?
  .flash_notice
    = flash[:notice]
= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button')
#full_week_wrap
  %h1= 'Date: '+@week.week_date
  %p#user_week= 'User: '+@week.user

#days_wrap
  - @week.days.each do |day|
    .days_wrap
      %p= day.day
      %p= day.recipe_name
      .day_image= image_tag day.image.to_s
      .link_show_recipe= link_to("", {:controller => 'Days', :action => 'show', :recipe_name => day.recipe_name})
- if @full == 'no'
  #monday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'monday')
      = f.input :recipe_name, as: :string, input_html: {id: "monday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "monday_image"}
      = f.button :submit, "Add this Recipe"

  #tuesday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'tuesday')
      = f.input :recipe_name, as: :string, input_html: {id: "tuesday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "tuesday_image"}
      = f.button :submit, "Add this Recipe!"

  #wednesday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'wednesday')
      = f.input :recipe_name, as: :string, input_html: {id: "wednesday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "wednesday_image"}
      = f.button :submit, "New Day"

  #thursday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'thursday')
      = f.input :recipe_name, as: :string, input_html: {id: "thursday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "thursday_image"}
      = f.button :submit, "New Day"

  #friday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'friday')
      = f.input :recipe_name, as: :string, input_html: {id: "friday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "friday_image"}
      = f.button :submit, "New Day"

  #saturday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'saturday')
      = f.input :recipe_name, as: :string, input_html: {id: "saturday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "saturday_image"}
      = f.button :submit, "New Day"

  #sunday
    = simple_form_for(Day.new, url: week_days_path(@week), remote: true) do |f|
      = f.hidden_field(:day, :value => 'sunday')
      = f.input :recipe_name, as: :string, input_html: {id: "sunday_name"}, maxlength: 100
      = f.input :image, as: :string, input_html: {id: "sunday_image"}
      = f.button :submit, "New Day"

  #drop_box
  #drop_box_tuesday
  #drop_box_wednesday
  #drop_box_thursday
  #drop_box_friday
  #drop_box_saturday
  #drop_box_sunday
  #mostra Click
  #risultati
    %h2 Favorites:
    - @favorites.each do |rec|
      .fav_recipe_wrap
        .fav_index_image
          = image_tag rec.image.to_s
        %p.fav_name= rec.recipe_name
        = link_to("", {:controller => 'Recipes', :action => 'show', :id => rec.id}, :class => 'search_show')

