= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button')
#update_wrap
  %h2 Update Recipe
  = simple_form_for(@recipe) do |f|
    %h2 Recipe Name
    #update_name= f.input :recipe_name, as: :string
    %h2 Ingredients
    #update_desc= f.input(:ingredients, as: :text)
    %h2 Preparation
    #update_prep= f.text_area(:preparation)
    %h2 Tags
    #update_tags= f.text_field(:tags)
    %h2 Image
    #update_tags= f.file_field(:image)
    #creator= f.hidden_field(:user, :value => current_user.username)
    #new_button
      = submit_tag("Update Recipe!")
