<%= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button') %>

<div id='update_wrap'>

  <h2>Update Recipe</h2>

  <%= form_for(:recipe, :url => {:action => 'update', :id => @recipe.id}) do |f| %>
    <table summary="Recipe form field">

        <h2>Recipe Name</h2>
          <div id='update_name'><%= f.text_field(:recipe_name) %></div>
        <h2>Description</h2>
          <div id='update_desc'><%= f.text_area(:description) %></div>
        <h2>Preparation</h2>
          <div id='update_prep'><%= f.text_area(:preparation) %></div>
        <h2>Tags</h2>
          <div id='update_tags'><%= f.text_field(:tags) %></div>

    </table>

    <div id='new_button'>
      <%= submit_tag("Update Recipe!") %>
    </div>
  <% end %>
</div>








</div>
