- if !flash[:notice].blank?
  .flash_notice
    = flash[:notice]
#recipes_wrap
  %h1 Recipes
  - if user_signed_in?
    = link_to("+ Recipe", {:action => 'new'}, :id => 'add_recipe')
  - @recipes.each do |recipe |
    .recipe_wrap.animated
      .index_image
        = image_tag recipe.image.to_s
      %p.name= recipe.recipe_name
      %p.desc= recipe.description.slice(0, 83)
      %p.creator= 'by: '+recipe.user
      %p.tags= recipe.tags
      - if user_signed_in? && recipe.user == current_user.username
        = link_to("Show", {:action => 'show', :id => recipe.id, remote: true })
        = link_to("Edit", {:action => 'edit', :id => recipe.id }, :class => 'action edit')
        = link_to("Delete", {:action => 'delete', :id => recipe.id}, :class => 'action delete')
        = link_to("", {:action => 'show', :id => recipe.id, remote: true }, :class => 'action_show')
      - else
        = link_to("Show", {:action => 'show', :id => recipe.id, remote: true })
        = link_to('Write a Comment ', {:controller => 'Recipes', :action => 'show', :id => recipe})
#recipe_wrap

#here
  #search_form
    %h2 Search Recipes:
    = form_for(:search, :url => {:controller => 'Recipes', :action => 'search'}, :html => {method: :get, remote: true}) do |f|
      %h3 Search by Rating
      = f.text_field(:rating, placeholder: "5 Stars", maxlength: 100)
      %h3 Search by Tags
      = f.text_field(:tags, placeholder: "easy", maxlength: 110)
      %h3 Search by Preparation time
      = f.text_field(:ready_in, placeholder: "30 min")
      = submit_tag("Search!")
  #create_new_recipe
    %h2#new_rec New Recipe
    = form_for(:recipe, html:  {:multipart => true}, :url => {:action => 'create'}) do |f|
      %table{:summary => "Recipe form field"}
        %h4#new_name
          Recipe Name
          = f.text_field(:recipe_name, placeholder: "Recipe Name", maxlength: 31, autofocus: "true")
        %h4#new_desc
          Description
          = f.text_area(:description, placeholder: "a brief description of this recipe", maxlength: 82)
        %h4#new_image
          Image
          = f.file_field(:image)
        %h4#new_ingr
          Ingredients
          = f.text_area(:ingredients, placeholder: "- stuffing with more stuffing  - stuffing with more stuffing  - stuffing with more stuffing  ", maxlength: 1500)
        %h4#new_prep
          Preparation
          = f.text_area(:preparation, maxlength: 2000, placeholder: "Heat vegetable oil in a large skillet over medium heat. Pan-fry chicken until golden brown on both sides, 5 to 7 minutes; transfer to a plate. Melt butter in the same skillet; cook and stir remaining 2 tablespoons flour in butter for 5 minutes, then add chicken broth and lemon juice. Simmer until thickened, about 10 minutes. Return chicken to the skillet. Continue simmering until chicken is no longer pink in the center, about 15 more minutes... basically peal it, eat it!")
        %h4#new_time
          Ready In
          = f.text_field(:ready_in, maxlength: 30, placeholder: "30 min")
        %h4#new_servings
          Servings
          = f.text_field(:servings, maxlength: 30, placeholder: "2")
        %h4#new_tags
          Tags
          = f.text_field(:tags, maxlength: 30, placeholder: "Easy, One Pot, Fibers")
        = f.hidden_field(:user, :value => current_user.username)
      #new_button
        = submit_tag("Add Recipe!")
#there
