- if !flash[:notice].blank?
  .flash_notice
    = flash[:notice]
#recipes_wrap
  %h1 Recipes
  - if user_signed_in?
    = link_to("Add Recipe", {:action => 'new'}, :id => 'add_recipe')
  - @recipes.each do |recipe |
    .recipe_wrap
      .index_image
        = image_tag recipe.image.to_s
      %p.name= recipe.recipe_name
      %p.desc= recipe.description
      %p.creator= 'by: '+recipe.user
      %p.tags= recipe.tags
      - if user_signed_in? && recipe.user == current_user.username
        = link_to("Show", {:action => 'show', :id => recipe.id, remote: true }, :class => 'action_show')
        = link_to("Edit", {:action => 'edit', :id => recipe.id }, :class => 'action edit')
        = link_to("Delete", {:action => 'delete', :id => recipe.id}, :class => 'action delete')
      - else
        = link_to("Show", {:action => 'show', :id => recipe.id, remote: true }, :class => 'action_show')
        = link_to('Send message to '+recipe.user, '#')
#recipe_wrap
