- if !flash[:notice].blank?
  .flash_notice
    = flash[:notice]
#recipes_wrap
  %h1 Recipes
  - if user_signed_in?
    = link_to("+ Recipe", {:action => 'new'}, :id => 'add_recipe')
  - @recipes.each do |recipe |
    .recipe_wrap
      .index_image
        = image_tag recipe.image.to_s
      %p.name= recipe.recipe_name
      %p.desc= recipe.description.slice(0, 83)
      %p.creator= 'by: '+recipe.user
      %p.tags= recipe.tags
      - if user_signed_in? && recipe.user == current_user.username
        = link_to("Show", {:action => 'show', :id => recipe.id, remote: true }, :class => 'action_show')
        = link_to("Edit", {:action => 'edit', :id => recipe.id }, :class => 'action edit')
        = link_to("Delete", {:action => 'delete', :id => recipe.id}, :class => 'action delete')
      - else
        = link_to("Show", {:action => 'show', :id => recipe.id, remote: true }, :class => 'action_show')
        = link_to('Write a Comment ', '#')
#recipe_wrap

#here
  #search_form
    %h2 Search Recipes:
    = form_for(:search, :url => {:controller => 'Recipes', :action => 'search'}, :html => {method: :get, remote: true}) do |f|
      %h3 Search by Rating
      = f.text_field(:rating, placeholder: "5 Stars", maxlength: 100)
      %h3 Search by Tags
      = f.text_field(:tags, placeholder: "easy", maxlength: 110)
      %h3 Search by Preparation time
      = f.text_field(:ready_in, placeholder: "30 min")
      = submit_tag("Search!")
#there
