- if !flash[:notice].blank?
  .flash_notice
    = flash[:notice]
#recipes_wrap
  %h1 Recipes
  - if user_signed_in?
    = link_to("Add Recipe", {:action => 'new'}, :id => 'add_recipe')
  - @recipes.each do |recipe |
    .recipe_wrap
      %h2
        Recipe Name:
      %p.name= recipe.recipe_name
      %h3#desc
        DESCRIPTION
      %p.desc= recipe.description
      %h3#prep
        PREPARATION
      %p.prep= recipe.preparation
      %h4 Tags:
      %p.tags= recipe.tags
      %h4#creator Created by:
      %p.creator= recipe.user
      - if user_signed_in? && recipe.user == current_user.username
        = link_to("Show", {:action => 'show', :id => recipe.id }, :class => 'action show')
        = link_to("Edit", {:action => 'edit', :id => recipe.id }, :class => 'action edit')
        = link_to("Delete", {:action => 'delete', :id => recipe.id}, :class => 'action delete')
