= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button')
#new_wrap
  %h2 Insert New Recipe
  = form_for(:recipe, html:  {:multipart => true}, :url => {:action => 'create'}) do |f|
    %table{:summary => "Recipe form field"}
      %h2#new_name Recipe Name
      = f.text_field(:recipe_name, placeholder: "Recipe Name", maxlength: 100, autofocus: "true")
      %h2#new_desc Description
      = f.text_area(:description, placeholder: "a brief description of this recipe", maxlength: 110)
      %h2#new_ingr Ingredients
      = f.text_area(:ingredients, placeholder: "- stuffing with more stuffing  - stuffing with more stuffing  - stuffing with more stuffing  ")
      %h2#new_prep Preparation
      = f.text_area(:preparation, maxlength: 2000, placeholder: "Heat vegetable oil in a large skillet over medium heat. Pan-fry chicken until golden brown on both sides, 5 to 7 minutes; transfer to a plate. Melt butter in the same skillet; cook and stir remaining 2 tablespoons flour in butter for 5 minutes, then add chicken broth and lemon juice. Simmer until thickened, about 10 minutes. Return chicken to the skillet. Continue simmering until chicken is no longer pink in the center, about 15 more minutes... basically peal it, eat it!")
      %h2#new_time Ready In
      = f.text_field(:ready_in, maxlength: 30, placeholder: "30 min")
      %h2#new_servings Servings
      = f.text_field(:servings, maxlength: 30, placeholder: "2")
      %h2#new_tags Tags
      = f.text_field(:tags, maxlength: 30, placeholder: "Easy, One Pot, Fibers")
      %h2#new_image Image
      = f.file_field(:image)
      = f.hidden_field(:user, :value => current_user.username)
    #new_button
      = submit_tag("Add Recipe!")
