= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button')
#new_wrap
  %h2 Insert New Recipe
  = form_for(:recipe, html:  {:multipart => true}, :url => {:action => 'create'}) do |f|
    %table{:summary => "Recipe form field"}
      %h2#new_name Recipe Name
      = f.text_field(:recipe_name, placeholder: "Recipe Name", maxlength: 100)
      %h2#new_desc Description
      = f.text_area(:description, placeholder: "a brief description of this recipe", maxlength: 110)
      %h2#new_ingr Ingredients
      = f.text_area(:ingredients, placeholder: "- stuff")
      %h2#new_prep Preparation
      = f.text_area(:preparation, maxlength: 2000)
      %h2#new_tags Tags
      = f.text_field(:tags, maxlength: 30)
      %h2#new_image Image
      = f.file_field(:image)
      #creator= f.text_field(:user, :value => current_user.username)
    #new_button
      = submit_tag("Add Recipe!")
