<% if !flash[:notice].blank? %>
  <div class='flash_notice'>
    <%= flash[:notice] %>
  </div>
<%end%>

<%= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button') %>
<div id='full_recipe_wrap'>

  <h1 id='full_name'><%= @recipe.recipe_name %></h1>
  <h3 id='full_desc'>DESCRIPTION
    <p class='full_desc'><%= @recipe.description %></p>
  </h3>
  <h3 id='full_prep'>PREPARATION
    <p class='full_prep'><%= @recipe.preparation %></p>
  </h3>
  <h4>Tags:
    <p class='full_tags'><%= @recipe.tags %></p>
  </h4>
  <h4>Date:
    <p class='full_date'><%= @recipe.created_at %></p>
  </h4>

</div>
