- if !flash[:notice].blank?
  .flash_notice
    = flash[:notice]
= link_to("<< Back to Recipes List", {:action => 'index'}, :class => 'back_button')
#full_recipe_wrap
  %h1#full_name= @recipe.recipe_name
  %h3#full_desc
    INGREDIENTS
  %p.full_desc= @recipe.ingredients
  %h3#full_prep
    PREPARATION
  %p.full_prep= @recipe.preparation
  %h4#full_tags Tags:
  %p.full_tags= @recipe.tags
  %h4#full_date Date:
  %p.full_date= @recipe.created_at.to_s.slice!(0, 10)
  %div#full_image
    = image_tag @recipe.image.to_s

= simple_form_for(Comment.new, url: recipe_comments_path(@recipe)) do |f|
  = f.input :comment, as: :text
  = f.hidden_field :username, as: :string, :value => current_user.username
  = f.hidden_field :user_image, as: :string, :value => current_user.image, as: :string
  = f.button :submit, "Comment"
