#background
  #sign_in= link_to 'Sign in', new_user_session_path
  #sign_out= link_to 'Sign out', destroy_user_session_path, method: 'delete'

#main_title
  %h1#title Recipes_on_Rails
  %h2#subtitle Recipes Sharing Platform
  - unless user_signed_in?
    = link_to "Sign Up!", new_user_registration_path
#black_folder
  #black_folder_wrap
    #primo
      = link_to("Recipes", {:controller => 'Recipes', :action => 'index'}, :id => 'go_to_rec')
    #secondo
      = link_to("Create", {:controller => 'Recipes', :action => 'new'}, :id => 'go_to_create')
    #terzo
      = link_to("Plan", {:controller => 'Weeks', :action => 'new'}, :id => 'go_to_plan')
