!!!
%html
  %head
    %title R_On_R
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag '9642395-kams4.png'
    = csrf_meta_tags
  %body
    %header
      %ul.main_navigation
        %li= link_to 'Recipes', recipes_path
        - if user_signed_in?
          %li= link_to("My Recipes", {:controller => 'Recipes', :action => 'my_recipes', :user => current_user.username}, :class => 'action my_recipes')
          %li= link_to("Favorites", {:controller => 'FavRecipes', :action => 'index', :user => current_user.username})
          %li= link_to "+ Recipe", new_recipe_path
          %li#scroll_down Search
          %li#add_new_recipe + Recipe
          %li= link_to("Meal Planner", {:controller => 'Weeks', :action => 'index'})
        %ul.devise_navigation
          - if user_signed_in?
            %li= link_to current_user.username, edit_user_registration_path
            %li#sign_out= link_to 'Sign out', destroy_user_session_path, method: 'delete'
          - else
            %li#sign_in= link_to 'Sign in', new_user_session_path
    .alert= alert
    .notice= notice
    = yield
